doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name='viewport' content="width=device-width", initial-scale=1)
    base(href='/')
    title Mail Billy English Email corrections and translations
    block favi

    block styles
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
      link(rel="stylesheet", href="css/mailbilly.css")
      link(href="https://fonts.googleapis.com/css?family=Satisfy|Kadwa", rel="stylesheet", type='text/css')

    body
      .container-fluid
        .row
          h1.page-head Mail Billy
          .bubs-box
            img.billy(src='../img/billy.png')
            .speech-bubs.bubs-top
              p Salut! Moi c’est Billy.
              p Je suis votre assistant Anglophone virtuel.
            .speech-bubs.bubs-bottom
              p Ne vous inquietez plus, je vais vous aider avec votre correspondance en anglais!
            .speech-bubs.bubs-mid
              p C’est simple: vous m’envoyez votre mail, et je vous réponds sous 24 heures.
        .row
          h3 Des Etapes
          ol
            li Correction: Envoyez moi vos mails en anglais, et je vais faire en sorte que ce que vous écrivez reflète exactement ce que vous voulez dire. (Voir nos tarifs)
            li Traduction: Ne perdez plus de temps et d’énergie. Ecrivez en français et je m’occupe du reste. (Voir nos tarifs)
            li Envoyez votre email à mail@mailbilly.com, et notre équipe d’experts en communications va traiter votre demande.
            li Votre mail vous sera renvoyé, traduit ou corrigé, dans l’heure pour les demandes urgentes ou sous 24 heures.

        .row
          h3 Mais Billy, quelle est l’importance d’un mail bien écrit?
          p Bonne question! Il faut tout d’abord garder en tête que votre communication avec vos clients, partenaires, collègues, ou même vos investisseurs à l’étranger représente votre société, votre professionnalisme, et la qualité de votre travail.
          p Il est tellement facile de commettre un impair dans une langue étrangère, surtout quand la communication est à l’écrit. Votre interlocuteur ne peut pas voir votre langage corporel, et risque donc de vous juger uniquement sur vos échanges par mail et sur les petites erreurs qu’il comprend.
          p Avec Mail Billy, vous êtes assuré que votre communication soit précise, correcte et pleine de sens.

        .row
          h3 Nos Prix
          table.table
            tr
              td
              td 0-200 mots
              td 201-400 mots
              td 401-600 mots
            tr
              td Corrections
            tr
              td Normal
              td 5e
              td 10e
              td 15e
            tr
              td Urgent
              td 6.50e
              td 13e
              td 20e
            tr
              td Traductions
            tr
              td Normal
              td 15e
              td 30e
              td 45e
            tr
              td Urgent
              td 20e
              td 60e
              td 80e
    block footer

    block scripts
      script(src='js/mailbilly.js')

