/*yellow #F3DF37
lightO #EFBD26
darkO #DC8C34
red #DC1C1C
Maroon #9C044F*/


body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #435463;
}

h3 {
  text-align: center;
  font-family: 'Kadwa', serif;
  font-size: 48px;
  padding-bottom: 20px;
  margin-top: 0px;
}

h4 {
  margin-top: 0;
}

table {
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(128, 128, 128, 0.27);
  border-radius: 4px;
}

a {
  color: #3B8BD2;
}

a:hover {
  color: #DE8E3E;
}

.center-text {
  text-align: center;
}

.table {
  margin-bottom: 50px;
}

.sub-kind {
  font-size: 11px;
}

.row:first-child {
  padding-top: 48px;
}

.row:nth-child(2),
.row:nth-child(4) {
  background: #F5F7FB;
}

.row:nth-child(3) {
  background: #E5E7EB;
}

.row {
  padding: 60px 100px;
}

.page-head {
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 90px;
  margin-top: 0px;
}

.mail-box {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(128, 128, 128, 0.27);
}

.mail-sub {
  padding-bottom: 10px;
  border-bottom: solid 1px #C3C5C7;
}

.mail-to {
  padding-bottom: 10px;
  border-bottom: solid 1px #C3C5C7;
}

.billy {
  min-width: 320px;
  width: 100%;
}

h3.accent-text {
  color: #DE8E3E;
  text-align: center;
  font-size: 30px;
  padding-bottom: 0px;
}

p.accent-text {
  color: #DE8E3E;
  text-align: center;
  font-size: 16px;
}

.counting {
  width: 50px;
}

.counting-msg {
  display: inline-block;
  margin-bottom: 14px;
  margin-top: 14px;
}

.counting-msg:first-letter {
  font-size: 48px;
  float: left;
  line-height: 52px;
  padding-right: 4px;
  font-family: "untitled-font-2";
}

.bubs-box {
  position: relative;
  margin: 50px 0;
  margin-bottom: 10px;
  margin-left: 35%;
  margin-right: 35%;
}

.speech-bubs {
  text-align: center;
  position: absolute;
  border-radius: 30px;
  background: #F5F7FB;
  padding: 16px;
  display: inline-block;
  width: 300px;
  box-shadow: 0px 1px 2px rgba(128, 128, 128, 0.27);
}

.speech-bubs p {
  font-size: 20px;
}

.bubs-top {
  left: -235px;
  top: -50px;
}

.bubs-top::after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: 50px;
  border-width: 40px 0px 0 40px;
  border-style: solid;
  border-color: #F5F7FB transparent;
  display: block;
  width: 0;
}

.bubs-bottom {
  left: 110px;
  top: 265px;
}

.bubs-bottom::after {
  content: "";
  position: absolute;
  bottom: 45px;
  right: -40px;
  border-width: 40px 40px 0px 0px;
  border-style: solid;
  border-color: #F5F7FB transparent;
  display: block;
  width: 0;
}

.bubs-mid {
  right: 40px;
  top: 82px;
}

.bubs-mid::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: -40px;
  border-width: 0px 0px 40px 40px;
  border-style: solid;
  border-color: #F5F7FB transparent;
  display: block;
  width: 0;
}

.word-counter {
  border: none;
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 2px 12px;
  box-shadow: 0px 1px 2px rgba(128, 128, 128, 0.27);
  border-radius: 4px;
}

.size-switcher {
  float: right;
  padding-bottom: 10px;
}

.btn,
.btn-default:hover,
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover  {
  color: #435463;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

/* bundle row */
.bundle-wrap {
  padding-left: 50%;
  margin-left: -388px;
}

.bundle-btn {
  box-shadow: 0px 1px 2px rgba(128, 128, 128, 0.27);
}

.buy-btn {
  background-color: #DE8E3E;
  color: #fff;
  font-size: 14px;
  margin-top: 8px;
  border-radius: 4px;
}

.bundle-btn.btn-default.active,
.bundle-btn.btn-default:active,
.btn-default:hover,
.btn-default.hover,
.btn-default.focus,
.btn-default:focus {
  background-color: #fff;
}

.bundle-btn.btn-default.active .buy-btn,
.bundle-btn.btn-default:active .buy-btn,
.btn-default:hover .buy-btn,
.btn-default.hover .buy-btn,
.btn-default.focus .buy-btn,
.btn-default:focus .buy-btn{
  color: #435463;
}


.bundle-btn.btn.active,
.bundle-btn.btn:active {
  box-shadow: none;
}

.bundle-img {
  max-width: 130px;
  //width: 20%;
  padding: 10px 25px;
}

.big-money {
  margin-bottom: -6px;
  font-size: 20px;
  text-align: center;
}

.little-money {
  font-size: 10px;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@media (max-width: 767px) {
  .billy {
    min-width: 240px;
    width: 240px;
  }
  .page-head {
    font-size: 60px;
    margin-bottom: 60px;
  }

  .bubs-box {
    width: 65%;
  }

  .row {
    padding: 60px 10px;
  }

  .row:first-child {
    padding: 20px 40px;
  }
  .accent-text {
    font-size: 22px;
  }
  .size-switcher {
    float: none;
  }
  .size-switcher button {
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .mail-box {
    margin-top: 30px;
  }
  h3 {
    font-size: 38px;
  }
  h3.accent-text {
    font-size: 22px;
  }
  .speech-bubs {
    padding: 10px;
    width: 188px;
    font-size: 10px;
  }
  .bubs-top {
    left: -135px;
  }
  .speech-bubs p {
    font-size: 12px;
  }

  .big-money {
    margin-bottom: -2px;
    font-size: 12px;
    text-align: center;
  }

  .buy-btn {
    width: 47px;
  }

  .bundle-btn {
    width: 57px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .bundle-img {
    width: 48px;
    padding: 0px 3px;
  }

  .bundle-wrap {
    padding-left: 50%;
    margin-left: -140.5px;
  }

  div#sib_embed_signup input#email {
    line-height: 180%;
    min-width: auto;
    width: 140px;
    font-size: 10px;
    color: orange;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .big-money {
    margin-bottom: -6px;
    font-size: 16px;
    text-align: center;
  }

  .little-money {
    font-size: 10px;
  }

  .buy-btn {
    width: 86px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .bundle-btn {
    width: 112px;
  }
  .bundle-img {
    width: 74px;
    padding: 9px 3px 0px;
  }
  .bundle-wrap {
    padding-left: 50%;
    margin-left: -290px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .big-money {
    margin-bottom: -6px;
    font-size: 18px;
    text-align: center;
  }

  .little-money {
    font-size: 10px;
  }
  .buy-btn {
    width: 98px;
  }
  .bundle-img {
    width: 92px;
    padding: 9px 3px 0px;
  }
  .bundle-btn {
    width: 124px;
  }
  .bundle-wrap {
    padding-left: 50%;
    margin-left: -308px;
  }
}
@media (min-width: 1200px) {

}

/* FAQ */
.faq-q {
  font-weight: bold;
  color: rgb(222, 142, 62);
  font-size: 22px;
  padding-top: 20px;
}

.faq-q:first-child {
  padding-top: 0px;
}

#faq p {
  font-size: 16px;
}


/* overriding bootstraps nav */

.navbar {
  min-height: 48px;
}

nav.billybar {
  background-color: rgba(255, 255, 255, 0.75);
  border-color: #FFFFFF;
  //font-family: 'Kadwa', serif;
  font-size: 12px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #DE8E3E;
  font-size: 14px;
  margin-top: 8px;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar-default .navbar-nav>.active>a {
  color: #FFF;
  background-color: rgba(222, 142, 62, 0.75);
}

.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #435463;
  background-color: rgba(222, 142, 62, 0.75);
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #435463;
}


/* Send In Blue Integration */

div#sib_embed_signup .needsfilled input {
  border-color: #B94A48 !important;
  color: #B94A48 !important;
}

div#sib_embed_signup .needsfilled {
  color: #B94A48 !important;
}

div#sib_embed_signup input[type="text"] {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div#sib_embed_signup div.message_area {
  position: relative;
  padding: 10px 30px 10px 10px;
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-sizing: border-box;
}

div#sib_embed_signup div.message_area button.close {
  position: absolute;
  right: 8px;
  top: 8px;
  color: inherit;
  background: 0 0;
  border: 0;
  padding: 0px;
  -webkit-appearance: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

div#sib_embed_signup h1.title {
  font-size: 40px;
  font-weight: normal;
  text-align: left;
  font-size: 40px;
  margin-bottom: 2px;
  padding: 0px;
  margin-top: 0px;
  color: rgb(35, 35, 35);
  display: none;
}

div#sib_embed_signup .container.rounded {
  width: 370px;
}

div#sib_embed_signup .containter h1 {
  color: #232323;
}

div#sib_embed_signup .containeri {
  color: #343434;
}

div#sib_embed_signup .containeri .button {
  color: #ffffff;
  background: #E6AA6E;
  font-family: 'Poppins', sans-serif;
}

div#sib_embed_signup .wrapper {
  width: 350px;
  position: relative;
  margin-left: -208.5px;
  padding-left: 50%;
}

div#sib_embed_signup .containeri {
  display: inline-block;
}

div#sib_embed_signup .header {
  padding: 0 10px;
}

div#sib_embed_signup h3.company-name {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin-bottom: 12px;
  padding: 0px;
  margin-top: 0px;
  color: rgb(52, 52, 52);
  display: none;
}

div#sib_embed_signup div.description {
  padding: 10px 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
  color: rgb(52, 52, 52);
  font-size: 15px;
  display: none;
}

div#sib_embed_signup div.rowi {
  padding: 10px;
}

div#sib_embed_signup #sib_loading_gif_area {
  position: absolute;
  z-index: 9999;
  display: none;
}

div#sib_embed_signup img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
}

div#sib_embed_signup .header {
  padding: 0px 10px;
}

div#sib_embed_signup .mandatory-email {
  padding: 10px;
  position: relative;
  color: rgb(52, 52, 52);
  font-size: 15px;
}

div#sib_embed_signup .lil-tinyltr {
  clear: both;
  float: none;
}

div#sib_embed_signup input#email {
  padding: 8px 4px;
  line-height: 180%;
  min-width: auto;
  width: 250px;
  font-size: 12px;
  color: orange;
}

div#sib_embed_signup .byline {
  color: rgb(52, 52, 52);
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

div#sib_embed_signup .button {
  color: rgb(255, 255, 255);
  display: inline-block;
  white-space: nowrap;
  min-height: 30px;
  margin: 0px 5px 0px 0px;
  padding: 0px 10px;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  vertical-align: top;
  height: auto;
  line-height: 100%;
  background: rgb(5, 5, 5);
  margin-left: 12px;
}

div#sib_embed_signup div#sib_embed_signup
