/*
VARIABLES
---------------
--------------- */
/*
FONTS
---------------
--------------- */
/*
MIXINS
---------------
--------------- */
/*
PAGES
---------------
---------------*/
@font-face {
  font-family: "Hallo";
  src: url("/fonts/Hallo%20sans.otf") format("opentype"); }
body {
  color: #A1A1A7;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.flash {
  position: absolute;
  top: 50px;
  right: 10px; }

.lefters {
  float: left; }

.main-header .header {
  color: #F8D146;
  font-size: 40px;
  display: inline-block;
  margin: 0 0 0 12px; }
.main-header .header-link {
  margin: 10px 12px 0 0; }

.login-landing .login-form, .signup-page .login-form {
  margin-left: -76px;
  padding-left: 50%;
  padding-top: 40px; }
.login-landing .header h1, .signup-page .header h1 {
  font-family: "Hallo", sans-serif;
  text-align: center;
  color: #F8D146;
  font-size: 80px; }
.login-landing .control-group, .signup-page .control-group {
  padding-bottom: 20px; }
.login-landing .valid-form, .signup-page .valid-form {
  padding-left: 4px;
  color: #3F8962; }
.login-landing .invalid-form, .signup-page .invalid-form {
  padding-left: 4px;
  color: #CC5E67; }
.login-landing .radio-label, .signup-page .radio-label {
  padding: 4px; }

.home-page .name {
  font-size: 40px;
  text-transform: capitalize;
  color: #7A7A8C; }
.home-page .progress-bar {
  background-color: #FBE494; }

.dualnback-page .preview-boxes {
  text-align: center; }
  .dualnback-page .preview-boxes .boxie {
    position: relative;
    width: 76px;
    height: 76px;
    padding: 6px;
    display: inline-block;
    background-color: #fff;
    margin: 0 26px 26px 26px;
    border: solid 1px #E4E4E5;
    border-radius: 4px; }
    .dualnback-page .preview-boxes .boxie img {
      width: 60px;
      height: 60px; }
    .dualnback-page .preview-boxes .boxie img.unknown-img, .dualnback-page .preview-boxes .boxie img.covered-img, .dualnback-page .preview-boxes .boxie img.show-img {
      display: none; }
    .dualnback-page .preview-boxes .boxie.unknown {
      box-shadow: inset #BDBDBD 0px 0px 5px 0px; }
      .dualnback-page .preview-boxes .boxie.unknown img.unknown-img {
        display: inline; }
    .dualnback-page .preview-boxes .boxie.covered img.covered-img {
      display: inline; }
    .dualnback-page .preview-boxes .boxie.uncovered img.show-img {
      display: inline; }
    .dualnback-page .preview-boxes .boxie.active .location-indicator {
      display: inline-block;
      position: absolute;
      height: 6px;
      left: 0px;
      background-color: #F8D146;
      bottom: -10px; }
    .dualnback-page .preview-boxes .boxie .correct-check {
      position: absolute;
      display: none;
      color: #D8A607;
      left: 14px;
      top: 4px;
      font-size: 46px; }
    .dualnback-page .preview-boxes .boxie.correct .correct-check {
      display: inline; }
.dualnback-page .game-area {
  text-align: center;
  display: inline-block;
  padding-left: 50%; }
  .dualnback-page .game-area.playin {
    margin-left: -210px; }
  .dualnback-page .game-area.finish {
    margin-left: -460px; }
    .dualnback-page .game-area.finish .finish-message {
      width: 230px; }
    .dualnback-page .game-area.finish .finish-message button {
      margin-top: 20px; }
  .dualnback-page .game-area .main-pic {
    position: relative; }
    .dualnback-page .game-area .main-pic .guess-inputtery {
      width: 420px;
      padding-top: 460px; }
    .dualnback-page .game-area .main-pic #guess-box {
      background-color: #DDDDDB; }
    .dualnback-page .game-area .main-pic img {
      width: 420px;
      height: 440px;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #E4E4E5;
      border-radius: 4px; }
    .dualnback-page .game-area .main-pic .learn-img img {
      position: absolute; }
    .dualnback-page .game-area .main-pic .img-text-box {
      font-size: 24px;
      width: 420px;
      padding-top: 440px;
      text-align: left; }
    .dualnback-page .game-area .main-pic .img-text {
      width: 400px; }
    .dualnback-page .game-area .main-pic .text-trans {
      display: none;
      border: solid 1px #E4E4E5;
      position: absolute; }
      .dualnback-page .game-area .main-pic .text-trans.showTrans {
        display: block; }
    .dualnback-page .game-area .main-pic .next-card {
      float: right; }
    .dualnback-page .game-area .main-pic .card-box {
      perspective: 800px; }
      .dualnback-page .game-area .main-pic .card-box .card {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 1s; }
        .dualnback-page .game-area .main-pic .card-box .card .card-front, .dualnback-page .game-area .main-pic .card-box .card .card-back {
          margin: 0;
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden; }
        .dualnback-page .game-area .main-pic .card-box .card .card-front {
          transform: rotateY(180deg); }
  .dualnback-page .game-area .guess-correctory {
    padding-top: 460px;
    width: 420px;
    font-size: 20px; }
    .dualnback-page .game-area .guess-correctory .yay {
      color: #3F8962; }
    .dualnback-page .game-area .guess-correctory .noo {
      color: #CC5E67; }
.dualnback-page .audio {
  padding-right: 10px;
  cursor: pointer; }
  .dualnback-page .audio:hover {
    color: #F8D146; }

.tutorial-zone .enter-tutorial {
  margin-top: 40px;
  background-image: url("../img/tutorial-enter.png");
  width: 400px;
  height: 153px; }
.tutorial-zone button {
  display: block;
  margin-top: 20px; }

/*
REUSABLES
---------------
---------------*/
/*
TRANSITIONS
---------------
---------------*/
.flipped {
  transform: rotateY(180deg); }

.hiddenCard {
  display: none; }

.slideVisLeft img {
  -webkit-animation: slideVisLeft 1.234s forwards;
  -moz-animation: slideVisLeft 1.234s forwards;
  -ms-animation: slideVisLeft 1.234s forwards;
  -o-animation: slideVisLeft 1.234s forwards;
  animation: slideVisLeft 1.234s forwards; }

.hideLeft .img-text-box {
  display: none; }
.hideLeft img {
  -webkit-animation: hideLeft 1.234s forwards;
  -moz-animation: hideLeft 1.234s forwards;
  -ms-animation: hideLeft 1.234s forwards;
  -o-animation: hideLeft 1.234s forwards;
  animation: hideLeft 1.234s forwards; }

.hideRight .card {
  -webkit-animation: hideRight 1.234s 600ms forwards;
  -moz-animation: hideRight 1.234s 600ms forwards;
  -ms-animation: hideRight 1.234s 600ms forwards;
  -o-animation: hideRight 1.234s 600ms forwards;
  animation: hideRight 1.234s 600ms forwards; }

.slideVisRight .card {
  opacity: 0;
  -webkit-animation: slideVisRight 1.234s 600ms forwards;
  -moz-animation: slideVisRight 1.234s 600ms forwards;
  -ms-animation: slideVisRight 1.234s 600ms forwards;
  -o-animation: slideVisRight 1.234s 600ms forwards;
  animation: slideVisRight 1.234s 600ms forwards; }

.stretchIndicator {
  -webkit-animation: 500ms 600ms both stretch;
  -moz-animation: 500ms 600ms both stretch;
  -ms-animation: 500ms 600ms both stretch;
  -o-animation: 500ms 600ms both stretch;
  animation: 500ms 600ms both stretch; }

.stretchIndicatorDelay {
  -webkit-animation: 500ms 700ms both stretch;
  -moz-animation: 500ms 700ms both stretch;
  -ms-animation: 500ms 700ms both stretch;
  -o-animation: 500ms 700ms both stretch;
  animation: 500ms 700ms both stretch; }

@-moz-keyframes stretch {
  from {
    margin-left: 38px;
    width: 0px; }
  to {
    margin-left: 0px;
    width: 76px; } }
@-webkit-keyframes stretch {
  from {
    margin-left: 38px;
    width: 0px; }
  to {
    margin-left: 0px;
    width: 76px; } }
@-ms-keyframes stretch {
  from {
    margin-left: 38px;
    width: 0px; }
  to {
    margin-left: 0px;
    width: 76px; } }
@keyframes stretch {
  from {
    margin-left: 38px;
    width: 0px; }
  to {
    margin-left: 0px;
    width: 76px; } }
.enter-tut-animation {
  -webkit-animation: entertut 2s steps(3) infinite;
  -moz-animation: entertut 2s steps(3) infinite;
  -ms-animation: entertut 2s steps(3) infinite;
  -o-animation: entertut 2s steps(3) infinite;
  animation: entertut 2s steps(3) infinite; }

@-webkit-keyframes slideVisRight {
  from {
    opacity: 0;
    left: -420px; }
  to {
    opacity: 1;
    left: 0px; } }
@-moz-keyframes slideVisRight {
  from {
    opacity: 0;
    left: -420px; }
  to {
    opacity: 1;
    left: 0px; } }
@-ms-keyframes slideVisRight {
  from {
    opacity: 0;
    left: -420px; }
  to {
    opacity: 1;
    left: 0px; } }
@-o-keyframes slideVisRight {
  from {
    opacity: 0;
    left: -420px; }
  to {
    opacity: 1;
    left: 0px; } }
@keyframes slideVisRight {
  from {
    opacity: 0;
    left: -420px; }
  to {
    opacity: 1;
    left: 0px; } }
@-webkit-keyframes hideRight {
  from {
    opacity: 1;
    left: 0px; }
  to {
    opacity: 0;
    left: 420px; } }
@-moz-keyframes hideRight {
  from {
    opacity: 1;
    left: 0px; }
  to {
    opacity: 0;
    left: 420px; } }
@-ms-keyframes hideRight {
  from {
    opacity: 1;
    left: 0px; }
  to {
    opacity: 0;
    left: 420px; } }
@-o-keyframes hideRight {
  from {
    opacity: 1;
    left: 0px; }
  to {
    opacity: 0;
    left: 420px; } }
@keyframes hideRight {
  from {
    opacity: 1;
    left: 0px; }
  to {
    opacity: 0;
    left: 420px; } }
@-webkit-keyframes slideVisLeft {
  from {
    opacity: 0;
    left: 420px; }
  to {
    opacity: 1;
    left: 0px; } }
@-moz-keyframes slideVisLeft {
  from {
    opacity: 0;
    left: 420px; }
  to {
    opacity: 1;
    left: 0px; } }
@-ms-keyframes slideVisLeft {
  from {
    opacity: 0;
    left: 420px; }
  to {
    opacity: 1;
    left: 0px; } }
@-o-keyframes slideVisLeft {
  from {
    opacity: 0;
    left: 420px; }
  to {
    opacity: 1;
    left: 0px; } }
@keyframes slideVisLeft {
  from {
    opacity: 0;
    left: 420px; }
  to {
    opacity: 1;
    left: 0px; } }
@-webkit-keyframes hideLeft {
  from {
    opacity: 1;
    left: 0px; }
  to {
    opacity: 0;
    left: -420px; } }
@-moz-keyframes hideLeft {
  from {
    opacity: 1;
    left: 0px; }
  to {
    opacity: 0;
    left: -420px; } }
@-ms-keyframes hideLeft {
  from {
    opacity: 1;
    left: 0px; }
  to {
    opacity: 0;
    left: -420px; } }
@-o-keyframes hideLeft {
  from {
    opacity: 1;
    left: 0px; }
  to {
    opacity: 0;
    left: -420px; } }
@keyframes hideLeft {
  from {
    opacity: 1;
    left: 0px; }
  to {
    opacity: 0;
    left: -420px; } }
@-webkit-keyframes entertut {
  from {
    background-position: 0px; }
  to {
    background-position: -1200px; } }
@-moz-keyframes entertut {
  from {
    background-position: 0px; }
  to {
    background-position: -1200px; } }
@-ms-keyframes entertut {
  from {
    background-position-x: 0px; }
  to {
    background-position-x: -1200px; } }
@-o-keyframes entertut {
  from {
    background-position: 0px; }
  to {
    background-position: -1200px; } }
@keyframes entertut {
  from {
    background-position: 0px; }
  to {
    background-position: -1200px; } }

/*# sourceMappingURL=mailbilly-new.css.map */
