<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="Lhm2YlHTfQA0QgHvwULIMofXidBL2Mf4I5NxdRneMWA" />
    <meta name='viewport' content="width=device-width" initial-scale=1>
    <title> Mail Billy English Email corrections and translations</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
    {% block styles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
      <link rel="stylesheet" href="static/css/mailbilly.css" />
      <link href="https://fonts.googleapis.com/css?family=Satisfy|Kadwa|Poppins" rel="stylesheet" type='text/css' />
      <link href="https://file.myfontastic.com/fB3rWEx9bjayxwuidE5skU/icons.css" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <h1 class="page-head"> Mail Billy </h1>
        <div class="bubs-box">
          <img class="billy" src='static/img/billy.png' />
          <div class="speech-bubs bubs-top">
            <p>Salut ! Moi c’est Billy.</p>
            <p>Vous êtes nul en anglais? Laissez moi vous aider à corriger vos mails.</p>
          </div>
        </div>
        <h3 class="accent-text">Bienvenue les amis d'Euratech. Profitez de votre 25€ de crédit gratuit!!!</h3>
        <p class="accent-text">(Activez votre essai gratuit en envoyant un mail à Billy avec le texte "Oh, Billy")</p>
      </div><!-- end .row -->

      <div class="row">
        <h3>Des Etapes</h3>
        <div class="col-sm-5">
          <p class="counting-msg icon-one">Adressez votre mail à Billy: billy@mailbilly.com</p>
          <p class="counting-msg icon-two">Ecrivez votre mail et envoyez-le.
</p>
          <p class="counting-msg icon-three">Réponse dans une heure, ou dans 2h pour les super-size!
</p>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <div class="mail-box">
            <p class="mail-to">À: <a href="mailto:billy@mailbilly.com" >billy@mailbilly.com</a></p>
            <p class="mail-sub">Sujet: Is we always okay for 18H ?</p>
            <p>Hello Derrick,</p>
            <p>It's me Sebastien. Do you remember us appointment for this night ? If you forget my number he is 06 52 13 72 32. </p>
            <p>Cordially,</p>
            <p>Sebastien</p>
          </div>
        </div>
      </div><!-- end .row -->

      <!--<div class="row">
        <h3> Mais Billy, quelle est l’importance d’un mail bien écrit?</h3>
        <p>come of unprofessional</p>
        <p>miscommunicate an important idea</p>
        <p>embarrass yourself</p>
        <p>insult someone</p>
      </div><!-- end .row -->

      <div class="row">
        <h3 id="prix"> Nos Tarifs </h3>
        <div class="hidden-xs col-sm-6">
          <h4>Relecture</h4>
          <table class="table table-bordered table1">
            <tr>
              <th> Quickie <p class="sub-kind">moins de 50mots</p></th>
              <th> Shortie <p class="sub-kind">51-150 mots</p></th>
              <th> Biggie <p class="sub-kind">151-300 mots</p></th>
              <th> Fattie <p class="sub-kind">301-450 mots</p></th>
              <th> Super Size <p class="sub-kind">450-600 mots</p></th>
            </tr>
            <tr>
              <td> 1,50€ </td>
              <td> 4,50€ </td>
              <td> 9€ </td>
              <td> 12€ </td>
              <td> 15€ </td>
            </tr>
          </table>
          <h4>Traduction</h4>
          <table class="table table-bordered">
            <tr>
              <th> Quickie <p class="sub-kind">moins de 50mots</p></th>
              <th> Shortie <p class="sub-kind">51-150 mots</p></th>
              <th> Biggie <p class="sub-kind">151-300 mots</p></th>
              <th> Fattie <p class="sub-kind">301-450 mots</p></th>
              <th> Super Size <p class="sub-kind">450-600 mots</p></th>
            </tr>
            <tr>
              <td> 3,50€ </td>
              <td> 11€ </td>
              <td> 25€ </td>
              <td> 40€ </td>
              <td> 55€ </td>
            </tr>
          </table>
        </div><!-- end .col-sm-6 -->
        <div class="visible-xs col-xs-10 col-xs-offset-1">
          <h4>Relecture</h4>
          <table class="table table-bordered table1">
            <tr>
              <th> Quickie <p class="sub-kind">moins de 50mots</p></th>
              <td> 1,50€ </td>
            </tr>
            <tr>
              <th> Shortie <p class="sub-kind">51-150 mots</p></th>
              <td> 4,50€ </td>
            </tr>
            <tr>
              <th> Biggie <p class="sub-kind">151-300 mots</p></th>
              <td> 9€ </td>
            </tr>
            <tr>
              <th> Fattie <p class="sub-kind">301-450 mots</p></th>
              <td> 12€ </td>
            </tr>
            <tr>
              <th> Super Size <p class="sub-kind">450-600 mots</p></th>
              <td> 15€ </td>
            </tr>
          </table>
          <h4>Traduction</h4>
          <table class="table table-bordered">
            <tr>
              <th> Quickie <p class="sub-kind">moins de 50mots</p></th>
              <td> 3,50€ </td>
            </tr>
            <tr>
              <th> Shortie <p class="sub-kind">51-150 mots</p></th>
              <td> 11€ </td>
            </tr>
            <tr>
              <th> Biggie <p class="sub-kind">151-300 mots</p></th>
              <td> 25€ </td>
            </tr>
            <tr>
              <th> Fattie <p class="sub-kind">301-450 mots</p></th>
              <td> 40€ </td>
            </tr>
            <tr>
              <th> Super Size <p class="sub-kind">450-600 mots</p></th>
              <td> 55€ </td>
            </tr>
          </table>
        </div><!-- end .col-sm-6 -->
        <div class="col-sm-6">
          <h4>Example de la taille du texte</h4>
          <div id="quickie" class="samples">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
          </div>
          <div id="shortie" class="samples hidden">
            <p>Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est nam dictum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis.</p>
          </div>
          <div id="biggie" class="samples hidden">
            <p>Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper. Aenean commodo ultrices imperdiet. Vestibulum ut justo vel sapien venenatis tincidunt. Phasellus eget dolor sit amet ipsum dapibus condimentum vitae quis lectus. Aliquam ut massa in turpis dapibus convallis. Praesent elit lacus, vestibulum at malesuada et, ornare et est. Ut augue nunc, sodales ut euismod non, adipiscing vitae orci. Mauris ut placerat justo. Mauris in ultricies enim. Quisque nec est eleifend nulla ultrices egestas quis ut quam. Donec sollicitudin lectus a mauris pulvinar id aliquam urna cursus. Cras quis ligula sem, vel elementum mi. Phasellus non ullamcorper urna.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>

            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In euismod ultrices facilisis. Vestibulum porta sapien adipiscing augue congue id pretium lectus molestie. Proin quis dictum nisl. Morbi id quam sapien.</p>
          </div>
          <div id="fattie" class="samples hidden">
            <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare.</p>

            <p>Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.</p>

            <p>Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper. Aenean commodo ultrices imperdiet. Vestibulum ut justo vel sapien venenatis tincidunt. Phasellus eget dolor sit amet ipsum dapibus condimentum vitae quis lectus. Aliquam ut massa in turpis dapibus convallis. Praesent lacus, vestibulum at malesuada et, ornare et est. Ut augue nunc, sodales ut euismod non, adipiscing vitae orci. Mauris ut placerat justo. Mauris in ultricies enim. Quisque nec est eleifend nulla ultrices egestas quis ut quam. Donec sollicitudin lectus a mauris pulvinar id aliquam urna cursus. Cras quis ligula sem, vel elementum mi. Phasellus non ullamcorper urna.</p>

            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In euismod ultrices facilisis. Vestibulum porta sapien adipiscing augue congue id pretium lectus molestie. Proin quis dictum nisl. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
          </div>
          <div id="super" class="samples hidden">
            <p>Quisque nec est eleifend nulla ultrices egestas quis ut quam. Donec sollicitudin lectus a mauris pulvinar id aliquam urna cursus. Cras quis ligula sem, vel elementum mi. Phasellus non ullamcorper urna.
            id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue ve. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>

            <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.</p>

            <p>Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper. Aenean commodo ultrices imperdiet. Vestibulum ut justo vel sapien venenatis tincidunt. Phasellus eget dolor sit amet ipsum dapibus condimentum vitae quis lectus. Aliquam ut massa in turpis dapibus convallis. Praesent elit lacus, vestibulum at malesuada et, ornare et est. Ut augue nunc, sodales ut euismod non, adipiscing vitae orci. Mauris ut placerat justo. Mauris in ultricies enim. Quisque nec est eleifend nulla ultrices egestas quis ut quam. Donec sollicitudin lectus a mauris pulvinar id aliquam urna cursus. Cras quis ligula sem, vel elementum mi. Phasellus non ullamcorper urna urna quis eros.</p>

            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In euismod ultrices facilisis. Vestibulum porta sapien adipiscing augue congue id pretium lectus molestie. Proin quis dictum nisl. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.</p>
          </div>
          <div class="btn-group size-switcher" role="group" aria-label="...">
            <button type="button" class="btn btn-default active" data-which="quickie">Quickie</button>
            <button type="button" class="btn btn-default" data-which="shortie">Shortie</button>
            <button type="button" class="btn btn-default" data-which="biggie">Biggie</button>
            <button type="button" class="btn btn-default" data-which="fattie">Fattie</button>
            <button type="button" class="btn btn-default" data-which="super">Super</button>
          </div>
        </div><!-- end .col-sm-6 -->
      </div><!-- end .row -->
    </div><!-- end .container-fluid -->
    {% block footer %}{% endblock %}
    {% block scripts %}
      <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
      <script src="static/js/mailbilly.js" type="text/javascript"></script>
    {% endblock %}
  </body>
</html>