  <nav id="billybar" class="billybar navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#billynav" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">Project name</a>-->
      </div>
      <div id="billynav" class="collapse navbar-collapse">
        <ul id="navers" class="nav navbar-nav">
          <li class="navie"><a href="#how">Les étapes</a></li>
          <li class="navie"><a href="#price">Tarifs</a></li>
          <li class="navie hidden-xs"><a href="#size">Taille</a></li>
          <li class="navie"><a href="#faq">FAQ</a></li>
          <li class="navie">|</li>
          <li class="navie"><a href="/login">se connecter</a></li>
        </ul>
        <!--<ul class="nav navbar-nav">
          <li class="langie"><a href="/en">English</a></li>
          <li class="langie in-use"><a href="/">français</a></li>
        </ul>-->
      </div><!--/.nav-collapse -->
    </div>
  </nav>