<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width" initial-scale=1>
    <title> Mail Billy English Email corrections and translations</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
      <link href="https://fonts.googleapis.com/css?family=Satisfy|Kadwa|Poppins" rel="stylesheet" type='text/css' />
  </head>
  <body style="font-family: 'Poppins', sans-serif; font-size: 16px; color: #435463;">
    <div class="container">
      <div class="row" style="padding-left: 10%; padding-right: 10%;">
        <img class="billy" src='https://mailbilly.com/static/img/billy.png' style="width: 22%; margin-left: 39%; padding-top: 20px; padding-bottom: 20px;"/>
      </div>
      <div class="row" style="padding-left: 8%; padding-right: 8%;">
        <p>Hello !</p>
        <p>La semaine derni&egrave;re, vous avez envoy&eacute; {EMAILS_SENT} e-mail(s) &agrave; Billy.</p>
        <p>Notre temps de r&eacute;ponse moyen &eacute;tait : {TIME_SPENT} minutes</p>
        <p>Il vous reste  {REMAINING_CREDITS}&#8364; de cr&eacute;dits.</p>
        <p class="signature" style="font-family: 'Satisfy', cursive; font-size: 40px; margin-top: 0px;">Billy</p>
    </div>
  </body>
</html>